# Dependencias
/vendor/
/node_modules/

# Logs de Node
npm-debug.log
yarn-error.log

# Laravel 4 específico
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen específico
public/storage
public/hot
public_html/storage
public_html/hot

# Entorno y configuración
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Ignorar logs de Laravel
/storage/logs/*.log

# Ignorar todo el storage…
/storage/*

# …pero no los .gitkeep de framework/cache, sessions y views
!/storage/framework
/storage/framework/*
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitkeep

# Ignorar bootstrap cache…  
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep